### folders
node_modules
.idea
test
.tscmultiwatch
coverage
.nyc_output
.github
scripts

### files
.npmignore
.gitignore
.dockerignore
.editorconfig
suman.conf.js
yarn.lock

### matching files
*.sh
*.log
*.json
*.md
*.txt
*.yml



